---
title: Index Page
---
extends layouts/_layout
block content
  include partials/_catalog-tags
  include partials/_catalog-filter
  -var hiddenClass = ''
  include partials/_catalog-cards
  include partials/_index-banner
  include partials/_catalog-cards
  -var hiddenClass = 'hidden-1024'
  include partials/_catalog-cards
  include partials/_catalog-load-more
  include partials/_index-form
  include partials/_index-advantages
