---
title: Index Page
---
extends layouts/_layout
append vars
  -var headerClass = 'header_dark'
  -var headerLogoClass = 'header__logo_dark'
block content

  include partials/_index-slider
  include partials/_index-cards
  include partials/_index-categories
  include partials/_index-cases
  include partials/_index-other
  include partials/_index-banner
  include partials/_index-form
  include partials/_index-advantages
  