html
  head
  body
    ul
        li
            a(href="./index") Index
        li
            a(href="./catalog") Catalog
        li
            a(href="./card") Card
        li
            a(href="./basket") Basket
        li
            a(href="./order") Order