section.basket-form
    .container
        .basket-form__inner
            h2.basket-form__title
            .basket-form__list
            
                .basket-form__item
                    img.basket-form__item-img(src="#", alt="Набор с подставкой, книгой и пробковой доской с веселыми кнопками")
                    .basket-form__item-info
                        .basket-form__item-title Набор с подставкой, книгой и пробковой доской с веселыми кнопками
                        .basket-form__item-calc
                            .basket-form__item-price 746 600 &#8381;
                            span за
                            input.basket-form__item-input(type="text")
                            span шт.
                    .basket-form__item-button
            
                .basket-form__item
                    img.basket-form__item-img(src="#", alt="Набор с подставкой, книгой и пробковой доской с веселыми кнопками")
                    .basket-form__item-info
                        .basket-form__item-title Набор с подставкой, книгой и пробковой доской с веселыми кнопками
                        .basket-form__item-calc
                            .basket-form__item-price 746 600 &#8381;
                            span за
                            input.basket-form__item-input(type="text")
                            span шт.
                    .basket-form__item-button
            
                .basket-form__item.basket-form__item_disable
                    img.basket-form__item-img(src="#", alt="Набор с подставкой, книгой и пробковой доской с веселыми кнопками")
                    .basket-form__item-info
                        .basket-form__item-title Набор с подставкой, книгой и пробковой доской с веселыми кнопками
                        .basket-form__item-calc
                            .basket-form__item-price 746 600 &#8381;
                            span за
                            input.basket-form__item-input(type="text")
                            span шт.
                    .basket-form__item-button
            form.basket-form__form
                .basket-form__form-text Итого 
                .basket-form__form-price 746 600 &#8381;
                .basket-form__form-props 
                    label.basket-form__form-checkbox(for="basket-form__form-logo")
                        input(type="checkbox" id="basket-form__form-logo")  
                        span Нанести логотип
                    label.basket-form__form-checkbox(for="basket-form__form-comp")
                        input(type="checkbox" id="basket-form__form-comp") 
                        span Изменить состав подарка
                    textarea.basket-form__form-textarea(name="basket-form__form-textarea", cols="30", rows="10")
                    input.basket-form__form-submit(type="submit")