.breadcrumbs
    .container
        .breadcrumbs__inner
            ul.breadcrumbs__ul
                li.breadcrumbs__li
                    a.breadcrumbs__link Подарки для сталеваров
                li.breadcrumbs__li &#8226;
                li.breadcrumbs__li
                    a.breadcrumbs__link Подставка для ноутбуков lapleg