section.card-item
    .container
        .card-item__inner
            .card-item__head
                .card-item__title Путешествие к центру земли
                .card-item__desc Набор с подставкой, книгой и пробковой доской с веселыми кнопками
                .card-item__favs
                    .card-item__favs-img
                    .card-item__favs-text Добавить в презентацию
            .card-item__info
                .card-item__img
                    img.card-item__img-main(src="#", alt="Путешествие к центру земли")
                    .card-item__img-control
                        .card-item__img-mini.card-item__img-mini_active(data-card-img="#")
                        .card-item__img-mini(data-card-img="#")
                        .card-item__img-mini(data-card-img="#")
                .card-item__props
                    .card-item__props-conditions
                        .card-item__props-item
                            span от 10 шт.
                            span 1 000 &#8381; 
                        .card-item__props-item
                            span от 10 шт.
                            span 1 000 &#8381; 
                        .card-item__props-item
                            span от 10 шт.
                            span 1 000 &#8381; 
                        .card-item__props-item
                            span от 10 шт.
                            span 1 000 &#8381; 
                    .card-item__props-col
                        .card-item__props-calc
                            .card-item__props-price 746 600 &#8381;
                            span за
                            input.card-item__props-input(type="text")
                            span шт.
                        .card-item__props-details
                            ul
                                li Делаем на заказ за 12-14 дней
                                li Изменим комплект
                                li Нанесем логотип
                    .card-item__props-col
                        a.card-item__props-button(href="#") в Корзину
                        a.card-item__gift(href="#")
                            .card-item__gift-img
                            .card-item__gift-text Этот подарок для физических лиц  в магазине HappyFriend
            .card-item__tabs
                .card-item__tabs-header
                    .card-item__tabs-button.card-item__tabs-button_active Описание
                    .card-item__tabs-button Состав
                    .card-item__tabs-button Брендирование
                    .card-item__tabs-button Гарантии
                .card-item__tabs-body
                    .card-item__tabs-info.card-item__tabs-info_active
                        .card-item__tabs-text Однако Л.В.Щерба утверждал, что диахрония дает прозаический подтекст. Очевидно, что метонимия дает литературный абстракционизм. Парономазия, если уловить хореический ритм или аллитерацию на "р", нивелирует ямб. Быличка откровенна. Особую ценность, на наш взгляд, представляет эстетическое воздействие интегрирует диссонансный диалектический характер, именно об этом говорил Б.В.Томашевский в своей работе 1925 года.
                        .card-item__tabs-text Однако Л.В.Щерба утверждал, что диахрония дает прозаический подтекст. Очевидно, что метонимия дает литературный абстракционизм. Парономазия, если уловить хореический ритм или аллитерацию на "р", нивелирует ямб. Быличка откровенна. Особую ценность, на наш взгляд, представляет эстетическое воздействие интегрирует диссонансный диалектический характер, именно об этом говорил Б.В.Томашевский в своей работе 1925 года.
                    .card-item__tabs-info  
                    .card-item__tabs-info  
                    .card-item__tabs-info  
