.catalog-tags
    .container
        .catalog-tags__inner
            .catalog-tags__title(class='' + hiddenTitle) А еще у нас есть
            .catalog-tags__mobile-menu
                .catalog-tags__mobile-name Теги
                .catalog-tags__mobile-text Нет
                .catalog-tags__mobile-button
            .catalog-tags__mobile-list
                .catalog-tags__mobile-header
                    .catalog-tags__mobile-header-title Теги
                    .catalog-tags__mobile-header-close
                .catalog-tags__list
                    
                    label.catalog-tags__button(for="tag-checkbox_1")
                        span Печенье с логотипом
                        input(type="checkbox" id="tag-checkbox_1" hidden)
                        .catalog-tags__img 
                    label.catalog-tags__button(for="tag-checkbox_2")
                        span Алкоголь
                        input(type="checkbox" id="tag-checkbox_2" hidden)
                        .catalog-tags__img
                    label.catalog-tags__button(for="tag-checkbox_3")
                        span Для логотипа
                        input(type="checkbox" id="tag-checkbox_3" hidden)
                        .catalog-tags__img
                    label.catalog-tags__button(for="tag-checkbox_4")
                        span Наборы
                        input(type="checkbox" id="tag-checkbox_4" hidden)
                        .catalog-tags__img
                    label.catalog-tags__button(for="tag-checkbox_5")
                        span Картхолдеры
                        input(type="checkbox" id="tag-checkbox_5" hidden)
                        .catalog-tags__img
                    label.catalog-tags__button(for="tag-checkbox_6")
                        span Подставки
                        input(type="checkbox" id="tag-checkbox_6" hidden)
                        .catalog-tags__img
                    label.catalog-tags__button(for="tag-checkbox_7")
                        span Чай
                        input(type="checkbox" id="tag-checkbox_7" hidden)
                        .catalog-tags__img
                    label.catalog-tags__button(for="tag-checkbox_8")
                        span Начальнику
                        input(type="checkbox" id="tag-checkbox_8" hidden)
                        .catalog-tags__img
                    label.catalog-tags__button(for="tag-checkbox_9")
                        span Полезное
                        input(type="checkbox" id="tag-checkbox_9" hidden)
                        .catalog-tags__img
                    label.catalog-tags__button(for="tag-checkbox_10")
                        span Упаковки
                        input(type="checkbox" id="tag-checkbox_10" hidden)
                        .catalog-tags__img
                    label.catalog-tags__button(for="tag-checkbox_11")
                        span Кормушки
                        input(type="checkbox" id="tag-checkbox_11" hidden)
                        .catalog-tags__img
                    label.catalog-tags__button(for="tag-checkbox_12")
                        span Значки
                        input(type="checkbox" id="tag-checkbox_12" hidden)
                        .catalog-tags__img
                    label.catalog-tags__button(for="tag-checkbox_13")
                        span Елочные игрушки
                        input(type="checkbox" id="tag-checkbox_13" hidden)
                        .catalog-tags__img 
                    label.catalog-tags__button(for="tag-checkbox_14")
                        span Магниты
                        input(type="checkbox" id="tag-checkbox_14" hidden)
                        .catalog-tags__img
                    label.catalog-tags__button(for="tag-checkbox_15")
                        span Флешки
                        input(type="checkbox" id="tag-checkbox_15" hidden)
                        .catalog-tags__img
                    label.catalog-tags__button(for="tag-checkbox_16")
                        span Детям
                        input(type="checkbox" id="tag-checkbox_16" hidden)
                        .catalog-tags__img
                    label.catalog-tags__button(for="tag-checkbox_17")
                        span Ткань и фетр
                        input(type="checkbox" id="tag-checkbox_17" hidden) 
                        .catalog-tags__img
                    label.catalog-tags__button(for="tag-checkbox_18")
                        span Деревянные
                        input(type="checkbox" id="tag-checkbox_18" hidden)
                        .catalog-tags__img
                    label.catalog-tags__button(for="tag-checkbox_19")
                        span Сладости
                        input(type="checkbox" id="tag-checkbox_19" hidden)
                        .catalog-tags__img
                    label.catalog-tags__button(for="tag-checkbox_20")
                        span Лабораториум
                        input(type="checkbox" id="tag-checkbox_20" hidden)
                        .catalog-tags__img
                .catalog-tags__menu-button
                        span Готово