.catalog-load-more
    .container
        .catalog-load-more__inner
            .catalog-load-more__count Показано 4 из 100
            a.catalog-load-more__button(href="#") 
                span Загрузить еще