.catalog-filter
    .container
        .catalog-filter__inner
            .catalog-filter__target
                .catalog-filter__name Ищем подарок
                .catalog-filter__button cталевару
                .catalog-filter__mobile-menu
                    .catalog-filter__mobile-name Кому
                    .catalog-filter__mobile-text Сталевару
                    .catalog-filter__mobile-button
                .catalog-filter__mobile-list
                    .catalog-filter__mobile-header
                        .catalog-filter__mobile-header-title Кому
                        .catalog-filter__mobile-header-close
                    .catalog-filter__menu
                        ul.catalog-filter__menu-ul
                            li.catalog-filter__menu-li.catalog-filter__menu-li_active Сталевару
                            li.catalog-filter__menu-li На 23 февраля
                            li.catalog-filter__menu-li На 8 марта
                            li.catalog-filter__menu-li Сталевару
                            li.catalog-filter__menu-li На 23 февраля
                            li.catalog-filter__menu-li На 8 марта
                            li.catalog-filter__menu-li Сталевару
                            li.catalog-filter__menu-li На 23 февраля
                            li.catalog-filter__menu-li На 8 марта
                        ul.catalog-filter__menu-ul
                            li.catalog-filter__menu-li Сталевару
                            li.catalog-filter__menu-li На 23 февраля
                            li.catalog-filter__menu-li На 8 марта
                            li.catalog-filter__menu-li Сталевару
                            li.catalog-filter__menu-li На 23 февраля
                            li.catalog-filter__menu-li На 8 марта
                            li.catalog-filter__menu-li Сталевару
                            li.catalog-filter__menu-li На 23 февраля
                            li.catalog-filter__menu-li На 8 марта
                        ul.catalog-filter__menu-ul
                            li.catalog-filter__menu-li Сталевару
                            li.catalog-filter__menu-li На 23 февраля
                            li.catalog-filter__menu-li На 8 марта
                            li.catalog-filter__menu-li Сталевару
                            li.catalog-filter__menu-li На 23 февраля
                            li.catalog-filter__menu-li На 8 марта
                            li.catalog-filter__menu-li Сталевару
                            li.catalog-filter__menu-li На 23 февраля
                            li.catalog-filter__menu-li На 8 марта
            .catalog-filter__price
                .catalog-filter__name не дороже
                .catalog-filter__button 1 500 
                    span &#8381; /шт
                .catalog-filter__mobile-menu
                    .catalog-filter__mobile-name Не дороже
                    .catalog-filter__mobile-text 1 500 &#8381; /шт
                    .catalog-filter__mobile-button
                .catalog-filter__mobile-list
                    .catalog-filter__mobile-header
                        .catalog-filter__mobile-header-title Не дороже
                        .catalog-filter__mobile-header-close
                    .catalog-filter__menu
                        ul.catalog-filter__menu-ul
                            li.catalog-filter__menu-li.catalog-filter__menu-li_active 1 500 &#8381; / шт
                            li.catalog-filter__menu-li 1 500 &#8381; / шт
                            li.catalog-filter__menu-li 1 500 &#8381; / шт
                            li.catalog-filter__menu-li 1 500 &#8381; / шт
                            li.catalog-filter__menu-li 1 500 &#8381; / шт
                            li.catalog-filter__menu-li 1 500 &#8381; / шт
                            li.catalog-filter__menu-li 1 500 &#8381; / шт
                            li.catalog-filter__menu-li 1 500 &#8381; / шт
            .catalog-filter__reset Сбросить все
                 