section.catalog-cards(class='' + hiddenClass)
    .container
        .catalog-cards__inner
            .catalog-card
                img.catalog-card__img(src="#", alt="Новогодние пожелания")
                .catalog-card__info
                    .catalog-card__title Новогодние пожелания
                    .catalog-card__text Упаковка с вкусными и полезными пожеланиями на Новый год
                    .catalog-card__price от 1 500 &#8381; / шт
                    .catalog-card__favorite
            .catalog-card
                img.catalog-card__img(src="#", alt="Свинка-Копилка")
                .catalog-card__info
                    .catalog-card__title Свинка-Копилка
                    .catalog-card__text А вот тут описание товара на пару строчек сразу
                    .catalog-card__price  от 1 500 &#8381; / шт
                    .catalog-card__favorite.catalog-card__favorite_active
            .catalog-card
                img.catalog-card__img(src="#", alt="Новогодние пожелания")
                .catalog-card__info
                    .catalog-card__title Новогодние пожелания
                    .catalog-card__text Упаковка с вкусными и полезными пожеланиями на Новый год
                    .catalog-card__price от 1 500 &#8381; / шт
                    .catalog-card__favorite
            .catalog-card
                img.catalog-card__img(src="#", alt="Свинка-Копилка")
                .catalog-card__info
                    .catalog-card__title Свинка-Копилка
                    .catalog-card__text А вот тут описание товара на пару строчек сразу
                    .catalog-card__price  от 1 500 &#8381; / шт
                    .catalog-card__favorite