.catalog-tags
    .container
        .catalog-tags__inner
            .catalog-tags__title(class='' + hiddenTitle) А еще у нас есть
            .catalog-tags__list
                .catalog-tags__button Печенье с логотипом
                .catalog-tags__button Алкоголь
                .catalog-tags__button.catalog-tags__button_active Для логотипа
                .catalog-tags__button Наборы
                .catalog-tags__button Картхолдеры
                .catalog-tags__button Подставки
                .catalog-tags__button Чай
                .catalog-tags__button Начальнику
                .catalog-tags__button Полезное
                .catalog-tags__button Упаковки
                .catalog-tags__button Кормушки
                .catalog-tags__button Значки
                .catalog-tags__button Елочные игрушки
                .catalog-tags__button Магниты
                .catalog-tags__button Флешки
                .catalog-tags__button Детям
                .catalog-tags__button Ткань и фетр
                .catalog-tags__button Деревянные
                .catalog-tags__button Сладости
                .catalog-tags__button Лабораториум
