footer.footer
    .container
        .footer__inner
            .footer__head
                img.footer__logo(src="img/logo.png" alt="Happy Partner")
                .footer__social-list
                    a.footer__social-icon.footer__social-icon_1(href="#")
                    a.footer__social-icon.footer__social-icon_2(href="#")
                    a.footer__social-icon.footer__social-icon_3(href="#")
                    a.footer__social-icon.footer__social-icon_4(href="#")
                    a.footer__social-icon.footer__social-icon_5(href="#")
            .footer__body
                .footer__lists
                    .footer__list
                        .footer__list-title Наши подарки
                        ul.footer__ul
                            li.footer__li 
                                a(href="#") Разработка подарков
                            li.footer__li  
                                a(href="#") Для партнеров
                            li.footer__li  
                                a(href="#") Из дерева
                            li.footer__li  
                                a(href="#") Из ткани
                            li.footer__li  
                                a(href="#") Из фетра
                            li.footer__li  
                                a(href="#") Печенье с логотипом
                            li.footer__li 
                                a(href="#")  На новый год
                            li.footer__li  
                                a(href="#") Детям в новый год
                            li.footer__li  
                                a(href="#") Слово пасечника
                            li.footer__li  
                                a(href="#") Эусклюзивные
                            li.footer__li  
                                a(href="#") Чай в подарок
                            li.footer__li  
                                a(href="#") Кофе в поарок
                    .footer__list
                        .footer__list-title Как мы работаем
                        ul.footer__ul
                            li.footer__li 
                                a(href="#") О компании
                            li.footer__li 
                                a(href="#") Доставка и оплата
                            li.footer__li 
                                a(href="#") Отзывы
                            li.footer__li 
                                a(href="#") Контакты
                            li.footer__li 
                                a(href="#") Новости и статьи
                            li.footer__li 
                                a(href="#") Вакансии
                    .footer__list
                        .footer__list-title Сотрудничество
                        ul.footer__ul
                            li.footer__li 
                                a(href="#") Стать дилером
                            li.footer__li 
                                a(href="#") Поставщикам
                            li.footer__li 
                                a(href="#") Рекламным агентствам

                .footer__address 
                    .footer__list
                        .footer__list-title Санкт-Петербург
                        ul.footer__ul
                            li.footer__li +7 (812) 648-21-86
                            li.footer__li +7 (800) 333-12-86 - бесплатно
                            li.footer__li 194044, ул. Гельсингфорсская, 3, лестница 8, 5 этаж. На территории завода  «Красная нить».  Ст. м. Выборгская.
                            li.footer__li Пн. – Пт.: 9:00 – 18:00
                    .footer__list
                        .footer__list-title Москва
                        ul.footer__ul
                            li.footer__li +7 (495) 215-11-34
                            li.footer__li +7 (800) 333-12-86 - бесплатно
                            li.footer__li 107140, ул. Верхняя Красносельская, д.2., 3 этаж.  Ст. м. "Красносельская".  Для связи на месте  +7 (499) 503-06-42
                            li.footer__li Пн. – Пт. 9:00 – 19:00

                    input.footer__search(type="text")
        a.footer__gift(href="#")
                    .footer__gift-img
                    .footer__gift-text Подарки в розницу
    .footer__copyright &copy; 2010-2018 	&#8226; Все права защищены 	&#8226; Happy Partner. Авторские корпоративные подарки собственного производства. 
        br 
        | Комплектация подарка может отличаться от изображения. Информация на сайте не является публичной офертой. Цены указаны без учета НДС.
