//BEGIN header
header(class='header ' + headerClass)
    .container
        .header__inner
            .header__logo(class=' ' + headerLogoClass)
            .header__links
                a.header__link(href="#") Об оплате и доставке
                a.header__link(href="#") Контакты и карта
            .header__schedule
                .header__date Пн - Вс
                .header__time 10:00 - 24:00
            .header__contacts
                a.header__phone(href="tel:+78126482186") +7 (812) 648-21-86
                a.header__mail(href="mailto:Info@happypartner.ru") Info@happypartner.ru
            a.header__gift(href="#")
                .header__gift-img
                .header__gift-text Подарки в розницу
//END header
