.index-banner
    .container
        .index-banner__inner
            a.index-banner__item(href="#") 
                span.index-banner__title Как мы делаем наши  
                span.index-banner__subtitle подарки
            a.index-banner__item(href="#") 
                span.index-banner__title Разработка подарков
                span.index-banner__subtitle на заказ