section.index-form
    .container
        .index-form__inner 
            h2.index-form__title Много всего и не подходит?
            .index-form__desc Оставте свой телефон и наш менеджер позаботится обо всем
            form.index-form__form#index-form__form
                input.index-form__input(type="text" placeholder="Имя" required)
                input.index-form__input(type="text" placeholder="Телефон или электронная почта" required)
                input.index-form__submit(type="submit")

                .index-form__list
                    .index-form__item
                        .index-form__img
                        .imdex-form__text Придумаем варианты, изменим состав
                    .index-form__item
                        .index-form__img
                        .imdex-form__text Впишемся в бюджет и соберем презентацию
                    .index-form__item
                        .index-form__img
                        .imdex-form__text Предложим скидки, положим запасные подарки