section.index-slider
    .index-slider__carousel
        .index-slider__item
            .index-slider__title Крупнейший производитель
            .index-slider__subtitle Корпоративных подарков
            .index-slider__disc 
                ul.index-slider__list
                    li Собственное производство площадью 300 м2
                    li 6 лет на рынке
                    li Доставка по всей России