section.index-advantages
    .container
        .index-advantages__inner
            h2.index-advantages__title Необычные подарки для креативных людей
            .index-advantages__info
                .index-advantages__text Однако Л.В.Щерба утверждал, что диахрония дает прозаический подтекст. Очевидно, что метонимия дает литературный абстракционизм. Парономазия, если уловить 
                    span.text-collapse хореический ритм или аллитерацию на "р", нивелирует ямб. Быличка откровенна. Особую ценность, на наш взгляд, представляет эстетическое воздействие интегрирует диссонансный диалектический характер, именно об этом говорил Б.В.Томашевский в своей работе 1925 года.
                .index-advantages__text Однако Л.В.Щерба утверждал, что диахрония дает прозаический подтекст. Очевидно, что метонимия дает литературный абстракционизм. Парономазия, если уловить хореический ритм или аллитерацию на "р", нивелирует ямб. Быличка откровенна. Особую ценность, на наш взгляд, представляет эстетическое воздействие интегрирует диссонансный диалектический характер, именно об этом говорил Б.В.Томашевский в своей работе 1925 года.
            .index-advantages__more Показать весь текст
            .index-advantages__list
                .index-advantages__item
                    .index-advantages__img.index-advantages__img_1
                        .index-advantages__name Ручная работа
                .index-advantages__item
                    .index-advantages__img.index-advantages__img_2
                     .index-advantages__name Собственное производство
                .index-advantages__item
                    .index-advantages__img.index-advantages__img_3
                        .index-advantages__name Запасные подарки
                .index-advantages__item
                    .index-advantages__img.index-advantages__img_4
                        .index-advantages__name Надежная доставка 
                            |по всей России
                .index-advantages__item
                    .index-advantages__img.index-advantages__img_5
                        .index-advantages__name Персональный 
                            br
                            |менеджер
        .index-advantages__carousel.owl-carousel.owl-theme
            .index-advantages__item
                .index-advantages__img.index-advantages__img_1
                    .index-advantages__name Ручная работа
            .index-advantages__item
                .index-advantages__img.index-advantages__img_2
                    .index-advantages__name Собственное производство
            .index-advantages__item
                .index-advantages__img.index-advantages__img_3
                    .index-advantages__name Запасные подарки
            .index-advantages__item
                .index-advantages__img.index-advantages__img_4
                    .index-advantages__name Надежная доставка 
                        |по всей России
            .index-advantages__item
                .index-advantages__img.index-advantages__img_5
                    .index-advantages__name Персональный 
                        br
                        |менеджер