.index-banner
    .container
        .index-banner__inner
            a.index-banner__item(href="#") Как мы делаем наши 
                span подарки
            a.index-banner__item(href="#") Разработка подарков
                span на заказ