section.index-cases
    .container
        .index-cases__inner
            .index-cases__title Индивидуальные кейсы
            .index-cases__list
            
                .index-case
                    img.index-case__img(src="https://via.placeholder.com/370x224.png", alt="Органайзер из бетона")
                    .index-case__inner
                        .index-case__title Органайзер из бетона
                        .index-case__text Оригинальный набор с венецианской маской и ёлочной игрушкой
                        .index-case__price от 1450 &#8381;
                        a.index-case__button(href="#")
                            span Перейти в Каталог
            
                .index-case
                    img.index-case__img(src="https://via.placeholder.com/370x224.png", alt="Органайзер из бетона")
                    .index-case__inner
                        .index-case__title Органайзер из бетона
                        .index-case__text Оригинальный набор с венецианской маской и ёлочной игрушкой
                        .index-case__price от 1450 &#8381;
                        a.index-case__button(href="#") 
                            span Перейти в Каталог
            
                .index-case
                    img.index-case__img(src="https://via.placeholder.com/370x224.png", alt="Органайзер из бетона")
                    .index-case__inner
                        .index-case__title Органайзер из бетона
                        .index-case__text Оригинальный набор с венецианской маской и ёлочной игрушкой
                        .index-case__price от 1450 &#8381;
                        a.index-case__button(href="#") 
                            span Перейти в Каталог

            .index-cases__carousel.owl-carousel.owl-theme
                .index-case
                    img.index-case__img(src="https://via.placeholder.com/300x212.png", alt="Органайзер из бетона")
                    .index-case__inner
                        .index-case__title Органайзер из бетона
                        .index-case__text Оригинальный набор с венецианской маской и ёлочной игрушкой
                        .index-case__price от 1450 &#8381;
            
                .index-case
                    img.index-case__img(src="https://via.placeholder.com/300x212.png", alt="Органайзер из бетона")
                    .index-case__inner
                        .index-case__title Органайзер из бетона
                        .index-case__text Оригинальный набор с венецианской маской и ёлочной игрушкой
                        .index-case__price от 1450 &#8381;
            
                .index-case
                    img.index-case__img(src="https://via.placeholder.com/300x212.png", alt="Органайзер из бетона")
                    .index-case__inner
                        .index-case__title Органайзер из бетона
                        .index-case__text Оригинальный набор с венецианской маской и ёлочной игрушкой
                        .index-case__price от 1450 &#8381;

            a.index-cases__button(href="#") 
                span Все Кейсы


        