section.index-cards
        .index-cardss__item
            .index-cards__inner
                .index-cards__name Органайзер из бетона
                .index-cards__text 
                    ul.index-cards__ul
                        li.index-cards__li Архитектор
                        li.index-cards__li Разработчик
                        li.index-cards__li Оператор
                    | Разработано и произведено Happy Partner
                .index-cards__price от 1450 &#8381;
                a.index-cards__button(href="#") Перейти в Каталог
                
        .index-cards__item
            .index-cards__inner
                .index-cards__name Органайзер из бетона
                .index-cards__text 
                    ul.index-cards__ul
                        li.index-cards__li Архитектор
                        li.index-cards__li Разработчик
                        li.index-cards__li Оператор
                    | Разработано и произведено Happy Partner
                .index-cards__price от 1450 &#8381;
                a.index-cards__button(href="#") Перейти в Каталог