section.index-categories
    .index-categories__item
        .index-categories__title Брендирование
        a.index-categories__button(href="#") Подробнее о услуге
    .index-categories__item
        .index-categories__title Наборы чая и кофе
            br
            | Мед, Бакалея
        a.index-categories__button(href="#") Смотрите в Каталоге
    .index-categories__item
        .index-categories__title Коробки, пакеты,
            br
            | крафт-бумага
        a.index-categories__button(href="#") И другая упаковка
    .index-categories__item
        .index-categories__title Повышение продаж 
            br
            | с помощью корицы
        a.index-categories__button(href="#") И другие b2b решения