section.index-slider
    .index-slider__carousel.owl-carousel.owl-theme
        //- item
        .index-slider__item
            .container
                .index-slider__title Крупнейший производитель
                .index-slider__subtitle Корпоративных подарков
                .index-slider__disc 
                    ul.index-slider__ul
                        li.index-slider__li Собственное производство площадью 300 м2
                        li.index-slider__li 6 лет на рынке
                        li.index-slider__li Доставка по всей России
        //- item
        .index-slider__item
            .container
                .index-slider__title Крупнейший производитель
                .index-slider__subtitle Корпоративных подарков
                .index-slider__disc 
                    ul.index-slider__ul
                        li.index-slider__li Собственное производство площадью 300 м2
                        li.index-slider__li 6 лет на рынке
                        li.index-slider__li Доставка по всей России
        //- item
        .index-slider__item
            .container
                .index-slider__title Крупнейший производитель
                .index-slider__subtitle Корпоративных подарков
                .index-slider__disc 
                    ul.index-slider__ul
                        li.index-slider__li Собственное производство площадью 300 м2
                        li.index-slider__li 6 лет на рынке
                        li.index-slider__li Доставка по всей России