section.index-cases
    .container
        .index-cases__inner
            h2.index-cases__title Индивидуальные разработки (кейсы)
            .index-cases__list
            
                .index-case
                    .index-case__img
                    .index-case__inner
                        .index-case__title Органайзер из бетона
                        .index-case__text Оригинальный набор с венецианской маской и ёлочной игрушкой
                        .index-case__price от 1450 &#8381;
                        a.index-case__button(href="#")
                            span Перейти в Каталог
            
                .index-case
                    .index-case__img
                    .index-case__inner
                        .index-case__title Органайзер из бетона
                        .index-case__text Оригинальный набор с венецианской маской и ёлочной игрушкой
                        .index-case__price от 1450 &#8381;
                        a.index-case__button(href="#") 
                            span Перейти в Каталог
            
                .index-case
                    .index-case__img
                    .index-case__inner
                        .index-case__title Органайзер из бетона
                        .index-case__text Оригинальный набор с венецианской маской и ёлочной игрушкой
                        .index-case__price от 1450 &#8381;
                        a.index-case__button(href="#") 
                            span Перейти в Каталог

            a.index-cases__button(href="#") 
                span Все Кейсы
            