section.order-form
    .container
        .order-form__inner
            h2.order-form__title Оформление заказа
            form.order-form__form
                .order-form__text Я хочу оплатить заказ как:
                    .order-form__props
                        label.order-form__props-label(for="")
                            input(type="radio")
                            span Юрлицо с НДС
                        label.order-form__props-label(for="")
                            input(type="radio")
                            span Юрлицо без НДС
                        label.order-form__props-label(for="")
                            input(type="radio")
                            span Физлицо
                .order-form__accordion
                    .order-form__accordion-item
                        .order-form__accordion-header
                        .order-form__accordion-