.card-item
    &__inner
        padding-bottom: 48px
    &__head
        position: relative
        display: flex
        flex-direction: column
        width: 100%
    &__title
        font-size: 32px
        line-height: 1.25
        color: #5b4630
    &__desc
        margin-top: 3px
        font-size: 18px
        line-height: 1.33
        color: #5b4630
    &__favs
        position: absolute
        display: flex
        align-items: center
        top: 0
        right: 0
        width: 204px
        cursor: pointer
    &__favs-img
        width: 32px
        height: 32px
        background: url('../img/fav.svg') no-repeat 50% 50%
        &_active
            background: url('../img/fav-active.svg') no-repeat 50% 50%
    &__favs-text
        margin-left: 13px
        width: 157px
        font-size: 14px
        line-height: 1.71
        color: #5b4630
    &__info
        margin-top: 30px
        display: flex
        width: 100%
    &__carousel
        display: none !important
        margin: 0 auto
        width: 270px
        height: 270px
        border-radius: 5px
        overflow: hidden
    &__carousel-img
        width: 270px
        height: 270px
    &__dots
        position: absolute
        text-align: center
        height: 10px
        width: 100% 
        bottom: 15px
        // change default classes
        .owl-dot
            margin-right: 10px
            width: 10px
            height: 10px
            opacity: 0.4
            border-radius: 5px
            background-color: #ffffff !important
        .active
            width: 10px
            height: 10px
            opacity: 1
            border-radius: 5px
            background-color: #ffffff !important
    &__accordion
        display: none
        width: 270px
        margin: 25px auto 0
        background-color: #ffffff
        border-radius: 5px

.card-item-img
    display: flex
    &__main
        width: 390px
        height: 390px
        border-radius: 5px
        background: url('https://via.placeholder.com/390x390.png') no-repeat 50% 50%
    &__control
        margin-left: 10px
        display: flex
        flex-direction: column
    &__mini
        box-sizing: border-box
        margin-bottom: 6px
        width: 70px
        height: 70px
        border-radius: 5px
        background: url('https://via.placeholder.com/70x70.png') no-repeat 50% 50%
        cursor: pointer
        &_active
            border: 2px solid #f6773e



.card-item-props
    margin-left: 80px
    margin-top: 100px
    display: flex
    flex-wrap: wrap
    &__conditions
        display: flex
        width: 100%
    &__item
        margin-right: 34px
        display: flex
        flex-direction: column
        font-size: 18px
        line-height: 1.33
        color: #a2a2a1
        span
            margin-bottom: 6px
    &__col
        width: 50%
    &__calc
        margin-top: 20px
        display: flex
        align-items: center
        width: 100%
        span
            margin: 0 10px
            font-size: 24px
            line-height: 1
            color: #5b4630
    &__price
        font-size: 24px
        line-height: 1
        color: #5b4630
    &__input
        box-sizing: border-box
        padding-left: 16px
        width: 67px
        height: 46px
        border-radius: 2px
        background-color: #ffffff
        font-size: 24px
        line-height: 1
        color: #5b4630
    &__details
        margin-top: 55px
        ul 
            box-sizing: border-box
            padding-left: 26px
        li  
            position: relative
            margin-bottom: 10px
            font-size: 18px
            line-height: 1.33
            color: #5b4630
            &::before
                position: absolute
                content: ''
                display: block
                left: -26px
                top: 2px
                width: 16px
                height: 16px
                border-radius: 50%
                background: url('../img/svgo/mark.svg') no-repeat 50% 50%
    
    &__button
        display: flex
        justify-content: center
        width: 242px
        height: 78px
        text-decoration: none
        background: url('../img/svgo/sticker-orange.svg') no-repeat 50% 50%
        input
            background: none
            transform: rotate(-3deg)
            font-family: Madelyn
            font-size: 45px
            line-height: 1.89
            color: #ffffff
    &__gift
        margin-top: 98px
        display: flex
        align-items: center
        text-decoration: none
    &__gift-img
        width: 42px
        height: 42px
        border-radius: 50%
        background: url('https://via.placeholder.com/42x42.png') no-repeat 50% 50%
        background-size: contain
    &__gift-text
        margin-left: 10px
        width: 218px
        font-size: 14px
        line-height: 1.14
        color: #5b4630



.card-item-tabs
    margin-top: 55px
    min-height: 331px
    border-radius: 5px
    background-color: #ffffff
    &__head
        padding: 0 30px
        box-sizing: border-box
        display: flex
        justify-content: flex-start
        height: 63px
    &__button
        box-sizing: border-box
        padding: 20px 0
        margin-right: 30px
        height: 63px
        font-size: 18px
        line-height: 1.33
        color: #a2a2a1
        cursor: pointer
        &_active
            color: #5b4630
            border-bottom: 3px solid #f6773e
    &__body
        box-sizing: border-box
        border-top: 1px solid #f0eae4
    &__info
        box-sizing: border-box
        padding: 26px 30px
        display: flex
        justify-content: space-between
        &_active
            display: flex
    &__text
        width: 530px
        font-size: 16px
        line-height: 1.75
        color: #644733

@media (max-width: 1024px)
    .card-item-img
        &__main
            width: 311px
            height: 311px
    .card-item-props   
        margin-left: 37px
        margin-top: 70px
        &__item
            margin-right: 24px
        &__calc
            margin-top: 28px
        &__details
            margin-top: 34px
            li
                font-size: 16px
                line-height: 1.5
                margin-bottom: 6px
        &__button
            margin-top: 8px
        &__gift
            margin-top: 62px
        &__gift-img
            width: 45px
            height: 45px
        &__gift-text
            width: 153px
            font-size: 12px
            line-height: 1.17
    .card-item-tabs
        margin-top: 40px
        min-height: 349px
        &__text
            width: 451px

@media (max-width: 768px)
    .card-item
        &__favs
            width: auto
        &__favs-text
            display: none
             
    .card-item-img
        flex-direction: column
        &__main
            width: 353px
            height: 353px
        &__control
            margin-left: 0
            margin-top: 10px
            flex-direction: row
        &__mini
            margin-bottom: 0
            margin-right: 10px
    .card-item-props   
        flex-direction: column
        &__item
            font-size: 16px
            line-height: 1.5
            span
                margin-bottom: 1px
        &__col
            width: 354px
        &__calc
            margin-top: 20px
        &__details
            margin-top: 20px
        &__button
            margin-top: 0
        &__gift
            margin-top: 26px
        &__gift-img
            width: 32px
            height: 32px
        &__gift-text
            font-size: 12px
            line-height: 1.17
            width: 190px

    .card-item-tabs
        &__info
            flex-direction: column
        &__text
            width: 100%
            margin-bottom: 14px
@media (max-width: 320px)
    .card-item
        &__head
            padding: 0 5px
        &__title
            font-size: 24px
            line-height: 1.08
            text-align: center
        &__desc
            margin-top: 8px
            font-size: 16px
            line-height: 1.13
            text-align: center
        &__info
            margin-top: 14px
            flex-direction: column
        &__favs
            right: 50%
            margin-right: -16px
            bottom: -190px
            z-index: 10
        &__carousel
            display: block !important
        &__accordion
            display: block
    .card-item-img
        display: none
    .card-item-props  
        width: 270px
        margin: 20px auto 0
        &__conditions
            flex-direction: column 
            border-radius: 5px
            background-color: #ffffff
        &__item
            box-sizing: border-box
            padding: 14px 10px
            margin: 0
            flex-direction: row
            justify-content: space-between
            font-size: 16px
            line-height: 1.5
            border-bottom: 1px solid #f0eae4
            span
                margin: 0
            &:last-child
                border: none
        &__calc
            display: none
        &__button
            display: none
        &__detail
            margin-top: 24px
        &__gift
            margin-top: 10px
    .card-item-tabs
        display: none
        &__text
            padding-top: 15px