.header
    position: relative
    height: 76px
    background-color: #ffffff
    color: #644733
    border: solid 1px #f0eae4
    a
        color: #644733 
    &__inner
        display: flex
        align-items: center
        padding: 17px 0
        box-sizing: border-box
    &__logo
        width: 240px
        height: 39px
        background: url('../img/logo.png') no-repeat 50% 50%
        background-size: contain
        &_dark
            background: url('../img/logo-dark.png') no-repeat 50% 50%
    &__links
        margin-left: 60px
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 40px
    &__link
        opacity: 0.7
        font-size: 12px
        text-transform: uppercase
        text-decoration: none
        letter-spacing: 0.8px
    &__schedule
        margin-left: 32px
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 40px
    &__date
        opacity: 0.7
        font-size: 12px
        text-transform: uppercase
        letter-spacing: 0.6px
        font-weight: 300
    &__time
        opacity: 0.7
        font-size: 16px
        text-transform: uppercase
        letter-spacing: 0.6px
        font-weight: 300
    &__contacts
        margin-left: 137px
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 40px
    &__phone
        opacity: 0.7
        font-size: 18px
        text-decoration: none
        text-align: right
    &__mail
        opacity: 0.7
        font-size: 14px
        text-decoration: none
        text-align: right
    &__gift
        margin-left: 30px
        display: flex
        align-items: center
        text-decoration: none
    &__gift-img
        width: 42px
        height: 42px
        background-color: #d8d8d8
        border-radius: 50%
    &__gift-text
        margin-left: 14px
        width: 76px
        opacity: 0.7
        font-size: 17px
        font-weight: 300
        line-height: 1.06
        
    &_dark
        background-color: #492b26
        color: #f8f5f2
        
        a
            color: #f8f5f2
    &_bg
        &::before
            position: absolute
            content: ''
            left: 0
            right: 0
            top: 0
            height: 420px
            z-index: -1
            background: url('../img/header-bg.png') no-repeat 50% 100%
            background-size: cover
        
