.header
    position: relative
    height: 76px
    background-color: #ffffff
    color: #644733
    border-bottom: solid 1px #f0eae4
    a
        color: #644733 
    &__inner
        display: flex
        align-items: center
        height: 76px
        padding: 17px 0
        box-sizing: border-box
    &__logo
        width: 240px
        height: 39px
        background: url('../img/logo.png') no-repeat 50% 50%
        background-size: contain
        &_dark
            background: url('../img/logo-dark.png') no-repeat 50% 50%
            background-size: contain
            
    &__links
        margin-left: 60px
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 40px
    &__link
        opacity: 0.7
        font-size: 12px
        text-transform: uppercase
        text-decoration: none
        letter-spacing: 0.8px
    &__schedule
        margin-left: 32px
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 40px
    &__date
        opacity: 0.7
        font-size: 12px
        text-transform: uppercase
        letter-spacing: 0.6px
        font-weight: 300
    &__time
        opacity: 0.7
        font-size: 16px
        text-transform: uppercase
        letter-spacing: 0.6px
        font-weight: 300
    &__contacts
        margin-left: auto
        display: flex
        flex-direction: column
        justify-content: space-between
        // height: 40px
    &__phone
        opacity: 0.7
        font-size: 18px
        text-decoration: none
        text-align: right
    &__mail
        opacity: 0.7
        font-size: 14px
        text-decoration: none
        text-align: right
    &__gift
        margin-left: 30px
        display: flex
        align-items: center
        text-decoration: none
    &__gift-img
        width: 42px
        height: 42px
        background: url('https://via.placeholder.com/42x42.png') no-repeat 50% 50%
        border-radius: 50%
    &__gift-text
        margin-left: 14px
        width: 76px
        opacity: 0.7
        font-size: 17px
        font-weight: 300
        line-height: 1.06
    &__burger
        margin-left: 46px
        display: none
        width: 26px
        height: 16px
        cursor: pointer
        background: url('../img/burger-dark.svg') no-repeat 50% 100%
        background-size: contain
        &_active
            width: 25px
            height: 24px
            background: url('../img/close-big.svg') no-repeat 50% 100%
    &_dark
        background-color: #492b26
        color: #f8f5f2
        border-bottom: none
        a
            color: #f8f5f2
        .header__burger
            background: url('../img/svgo/burger.svg') no-repeat 50% 100%
    &_bg
        &::before
            position: absolute
            content: ''
            left: 0
            right: 0
            top: 0
            height: 420px
            z-index: -1
            background: url('../img/header-bg.png') no-repeat 50% 100%
            background-size: cover
    &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 100
    &__sidebar
        position: absolute
        display: none
        flex-direction: column
        justify-content: space-between
        padding: 15px 25px 45px
        top: 75px
        left: 0
        right: 0
        height: 300px
        background-color: #ffffff
        z-index: 100
        
@media (max-width: 1024px)
    .header
        &__inner
            justify-content: space-between
        &__logo
            margin-left: 10px
        &__links
            margin-left: 28px
        &__contacts
            margin-left: auto
        &__gift
            margin-left: 44px
        &__gift-text
            display: none
@media (max-width: 839px)
    .header
        &__logo
            margin-left: 10px
        &__links
            margin-left: 10px
        &__schedule
            margin-left: 7px
        &__contacts
            margin-left: auto
        &__gift
            margin-left: 15px
@media (max-width: 768px)
    .header
        &__logo
            width: 182px
            height: 30px
        &__sidebar
            &_active
                display: flex
        &__links
            flex-direction: column
            display: none
            margin-left: 0
            &_sidebar
                display: flex
        &__link
            margin-bottom: 20px
            font-size: 12px
            opacity: 1
            font-weight: bold
            letter-spacing: 0.8px
            color: #644733
        &__schedule
            margin-top: 20px
            height: auto
            display: none
            flex-direction: row
            justify-content: flex-start
            align-items: center
            &_sidebar
                margin-left: 0
                display: flex
        &__contacts
            &_sidebar 
                margin-top: auto      
                margin-left: 0
        &__phone
            text-align: left
            &_sidebar
                opacity: 1
                font-size: 18px
                font-weight: bold
        &__mail
            margin-top: 14px
            opacity: 1
            display: none
            color: #644733
            &_sidebar
                text-align: left
                display: block
        &__date
            opacity: 1
            font-size: 12px
            font-weight: bold
            letter-spacing: 0.6px
            color: #b5b5b5
        &__time
            margin-left: 9px
            opacity: 1
            font-size: 12px
            letter-spacing: 0.6px
            color: #b5b5b5
        &__gift
            right: 25px
            bottom: 25px
            position: absolute
            display: none
            &_sidebar
                display: flex
        &__gift-text
            display: block
            width: 139px
            font-size: 16px
            line-height: 1.13
        &__burger
            display: block

@media (max-width: 320px)
    .header
        &__contacts
            display: none
            &_sidebar 
                display: flex
        &__burger
            margin-right: 7px
        &__sidebar
            position: fixed
            bottom: 0
            height: auto
            padding-bottom: 94px
        &__gift
            background-color: #a1c23a
            box-sizing: border-box
            justify-content: space-between
            margin-left: 0
            width: auto
            height: 58px
            bottom: 0
            left: 0
            right: 0
            padding: 20px 25px
        &__gift-img
            order: 2
        &__gift-text
            opacity: 1
            margin: 0
            font-size: 16px
            line-height: 1.13
            color: #ffffff