.index-categories
    display: flex
    width: 100%
    &__item
        box-sizing: border-box
        padding-top: 68px
        padding-bottom: 34px
        display: flex
        justify-content: space-between
        flex-direction: column
        align-items: center
        width: 25%
        height: 256px
        background-color: #ffffff
        &:nth-child(2n)
            background-color: #f0eae4
    &__title
        font-size: 18px
        line-height: 1.33
        text-align: center
        color: #492b26
    &__button
        height: 85px
        font-family: Madelyn
        font-size: 42px
        line-height: 1.07
        text-align: center
        color: #492b26
        text-decoration: none


@media (max-width: 1024px)
    .index-categories
        &__item
            width: 33.4%
            height: 200px
            padding-top: 49px
            padding-bottom: 39px
            background-color: #3d2824
            &:nth-child(2n)
                background-color: #492b26
            &:last-child
                display: none
        &__title
            font-size: 16px
            line-height: 1.31
            color: #ffffff
        &__button
            height: 45px
            font-size: 32px
            line-height: 1.41
            color: #ffffff

@media (max-width: 768px)
    .index-categories
        &__item
            background-color: #ffffff
            &:nth-child(2n)
                background-color: #f0eae4
        &__title
            color: #492b26
        &__button
            color: #492b26


@media (max-width: 320px)
    .index-categories
        &__item
        &__title
        &__button

