.index-advantages
    height: 538px
    border-top: 1px solid #f0eae4
    box-sizing: border-box
    background-color: #ffffff
    &__inner
        padding: 60px 0
        box-sizing: border-box
        display: flex
        flex-direction: column
    &__title
        font-weight: normal
        font-size: 26px
        line-height: 1.08
        color: #644733
    &__info
        margin-top: 18px
        display: flex
        justify-content: space-between
    &__text
        width: 570px
        font-size: 16px
        line-height: 1.75
        color: #644733
    &__list
        margin-top: 30px
        display: flex
        justify-content: space-between
    &__item
        width: 104px
        height: 104px
        display: flex
        flex-direction: column
        align-items: center
    &__img
        position: relative
        width: 104px
        height: 104px
        &_1
            background: url('../img/svgo/adv-icon1.svg') no-repeat 50% 50%
        &_2
            background: url('../img/svgo/adv-icon2.svg') no-repeat 50% 50%
        &_3
            background: url('../img/svgo/adv-icon3.svg') no-repeat 50% 50%
        &_4
            background: url('../img/svgo/adv-icon4.svg') no-repeat 50% 50%
        &_5
            background: url('../img/svgo/adv-icon5.svg') no-repeat 50% 50%
    &__name
        position: absolute
        bottom: -75px
        width: 250px
        height: 53px
        margin-left: -125px
        left: 50%
        font-size: 20px
        line-height: 1.2
        text-align: center
        color: #644733