.index-banner
    &__inner
        box-sizing: border-box
        display: flex
        border: solid 1px #f7f5f2
    &__item
        box-sizing: border-box
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 585px
        height: 270px
        background: #ffffff
        font-size: 28px
        line-height: 1
        text-align: center
        color: #644733   
        text-decoration: none 
        &:nth-child(2)
            border-left: 1px solid #f0eae4
    &__subtitle
        font-family: Madelyn
        font-size: 65px