.index-slider
    height: 685px
    width: 100%
    &__carousel
        position: relative
        width: 100%
        height: 685px
    &__item
        box-sizing: border-box
        height: 685px
        width: 100%
        padding-top: 75px
        background: #aaa
    &__title
        font-size: 18px
        line-height: 1.67
        letter-spacing: 1.3px
        color: #f8f5f2
        text-transform: uppercase
    &__subtitle
        margin-top: 134px
        margin-left: -15px
        font-family: Madelyn
        font-size: 130px
        line-height: 0.88
        color: #f8f5f2
    &__disc
        margin-top: 20px
    &__ul
        font-size: 18px
        width: 283px
        font-weight: 300
        line-height: 1.33
        color: #ffffff
    &__li
        margin-bottom: 20px
    &__dots
        position: absolute
        z-index: 10
        height: 10px
        left: 50%
        margin-left: -585px
        width: 1170px
        bottom: 42px
        // change default classes
        .owl-dot
            margin-right: 20px
            width: 10px
            height: 10px
            opacity: 0.4
            border-radius: 5px
            background-color: #f8f5f2 !important
        .active
            width: 10px
            height: 10px
            opacity: 1
            border-radius: 5px
            background-color: #f8f5f2 !important
